<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업체 사장님 마이페이지</title>
</head>

<style>
    .container {
        display: flex;
        flex-direction: row;
        }

    .container > div {
        flex: 1;
        }

    #logout {
        position: absolute; 
        top: 0; 
        right: 0;
    }
</style>
  
<body>
    <h1>깨끗세탁 님 안녕하세요</h1>
    
    <div id="logout">
        <button>로그아웃</button>
    </div>
    
    <div class="container">
        <div>
            <li>업체명</li>
            <li>이메일</li>
            <li>연락처</li>
            <li>포인트</li>


        </div>
        <div>구역 2</div>
        <div>구역 3</div>
    </div>
      
</body>
</html>

<!-- 사장님 마이페이지
        (포인트, 빨래 신청목록들, 
        본인이 맡아서 세탁한신청서들(리뷰가 작성되있음)) 
        (업체 사장님 개인정보 출력) -->

