<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>희희세탁</title>
</head>

<style>
      .grid-container {
        display: grid;
        grid-template-columns: 20% auto 20%;
        grid-template-rows: 50px auto 50px;
        grid-template-areas: "header header header" "sidebar main main" "footer footer footer";
      }
      .grid-item {
        border: 1px solid #ccc;
      }
      .header {
        grid-area: header;
      }
      .sidebar {
        grid-area: sidebar;
      }
      .main {
        grid-area: main;
        height: 600px;
      }
      .footer {
        grid-area: footer;
      }
    </style>
    
  </head>
<body> -->

    <!-- <img id="homeimg" src="/homeimg">
    <h2>"집까지 찾아가는 세탁서비스를 이용해 보세요"</h2>
    <button onclick="location.href='postlaundry'">서비스 신청하러 가기</button>
    <button onclick="location.href='login'">로그인</button> -->

    <!-- <div class="grid-container">
      <div class="grid-item header">
        <div id="header-flex">
            <h1 id="title">희희세탁</h1>
            <button>login</button>
            <button>about</button>
        </div>

      </div>
      <div class="grid-item sidebar">Sidebar</div>
      <div class="grid-item main">Main</div>
      <div class="grid-item footer">Footer</div>
    </div>
  </body>
</html> -->
<!-- <style>
    body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: auto;
    height: 600px;
    background-color: rgb(255, 255, 255);
    }
    button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: rgb(93, 93, 255);
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    }

    button:hover {
    background-color: lightblue;
    }

    button:active {
    background-color: darkblue;
    }

    #homeimg {
        width: 400px;
        height: 400px;
        object-fit: cover;
        margin-bottom: 5px;
    }

    #title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



</style>
<body>

    <div class=""></div>






    <h1 id="title">희희세탁</h1>


    <img id="homeimg" src="/homeimg">
    <h2>"집까지 찾아가는 세탁서비스를 이용해 보세요"</h2>
    <button onclick="location.href='postlaundry'">서비스 신청하러 가기</button>
    <button onclick="location.href='login'">로그인</button> -->

<!-- </body>
</html>  -->