<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>HeeHee Laundry</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/heroes/"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
      body {
        overflow-x: hidden;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 10rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .divider {
        height: 7rem;
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      #bg-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 90%;
        height: auto;
        z-index: -100;
        background: url(polina.jpg) no-repeat;
        background-size: cover;
        opacity: 0.3;
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 820px;
        margin-top: 10px;
      }

      #bgcolor2 {
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 10px 20px rgb(171, 171, 171);
      }

      #bg-footer {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 20px 10px rgb(182, 182, 182);
      }

      .house {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      #homeimg {
        margin-top: 5%;
        margin-bottom: 10%;
        width: 400px;
        height: 400px;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
      }

      #homeimg:hover {
        width: 430px;
        height: 430px;
      }

      #lead2-1 {
        margin-left: 35%;
        transition: font-size 0.2s ease-in-out;
      }

      #lead2-1-1 {
        margin-left: 35%;
        transition: font-size 0.2s ease-in-out;
      }

      #lead2-1-1:hover {
        font-size: 450%;
      }

      #lead2-2 {
        margin-left: 35%;
        font-size: 150%;
      }

      #title {
        margin-bottom: 20px;
        font-size: 800%;
        transition: font-size 0.2s ease-in-out;
      }

      #title:hover {
        font-size: 900%;
      }

      #title-contents {
        font-size: 200%;
      }

      #title-button {
        margin-bottom: 20%;
        box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.3);
      }

      #title-button:hover {
        background-color: rgb(0, 0, 235);
      }

      #footer-title {
        margin-bottom: 20px;
        transition: font-size 0.2s ease-in-out;
      }

      #footer-button:hover {
        background-color: rgb(0, 0, 235);
      }

      #bg-box {
        padding-right: 5%;
        padding-left: 0px;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="top">
        <video src="/homevideo" id="bg-video" autoplay muted loop></video>
        <h1 id="title" class="display-1 fw-bold">"희희세탁"</h1>
        <p id="title-contents" class="lead mb-4 fw-bold">
          접수부터 수거, 세탁, 배송까지! 우리동네 세탁 맛집을 찾아보세요
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            id="title-button"
            type="button"
            class="btn btn-primary btn-lg px-4 gap-3"
            onclick="location.href='/login'"
          >
            서비스 이용해보기
          </button>
          <button
            id="title-button"
            type="button"
            class="btn btn-primary btn-lg px-3 gap-3"
            onclick="location.href='/signup'"
          >
            회원가입
          </button>
        </div>
      </div>

      <div id="bgcolor2">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div id="bg-box" class="col-10 col-sm-8 col-lg-6">
            <img
              src="/homeimg"
              id="homeimg"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-3 fw-bold lh-3 mb-3" id="lead2-1">
              세탁은 믿을 수 있는
            </h1>
            <h1 class="display-3 fw-bold lh-3 mb-3" id="lead2-1-1">
              "전문가"에게!
            </h1>
            <p class="lead" id="lead2-2">
              직접 세탁 하기 까다로운 세탁물을 <br />우리동네 전문가에게
              맡겨보세요 <br />
            </p>
          </div>
        </div>
      </div>

      <div class="divider"></div>
      <div class="divider"></div>

      <div id="bg-footer" class="text-secondary px-4 py-5 text-center">
        <div class="py-5">
          <h1 id="footer-title" class="display-5 fw-bold text-black">
            지금 바로 "희희세탁" 이용해보세요!
          </h1>
          <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">
              직접 귀찮게 세탁하지마세요 <br />"희희세탁" 서비스를 이용하고
              귀중한 시간을 아껴보세요
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button
                id="footer-button"
                onclick="location.href='/login'"
                type="button"
                class="btn btn-primary btn-lg px-4 gap-3"
              >
                서비스 이용해보기
              </button>
              <button
                type="button"
                class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                onclick="location.href='/signup'"
              >
                회원가입
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="b-example-divider mb-0">
        <!-- <p>
      대표: 정호준 주소: zep A-3 
      <br> 
      ©heehee 2023 - heehee Company S.L. All rights reserved.
      </p> -->
      </div>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
