<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>Post Laundry</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/heroes/"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <style>
    body {
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      text-align: center;
    }

    #back-usermypage {
      margin-top: 11px;
      color: rgb(255, 255, 255);
    }

    .form-floating1 {
      margin-top: 15px;
      color: black;
    }

    .form-floating2 {
      color: black;
    }

    #laundryicon {
      width: 10%;
      margin-bottom: 10px;
      margin-top: 17px;
    }

    #laundryicon {
      transition: all 0.2s linear;
    }

    #laundryicon:hover {
      transform: scale(1.1);
    }

    a:link {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }

    a:visited {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }

    a:hover {
      color: rgb(0, 66, 164);
    }

    a:active {
      color: rgb(0, 1, 9);
      text-decoration: none;
    }

    #confirms {
      margin: 0px;
    }

    #bg-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 90%;
      height: auto;
      z-index: -100;
      background: url(polina.jpg) no-repeat;
      background-size: cover;
      opacity: 0.25;
    }
  </style>

  <body>
    <img id="laundryicon" src="/laundryicon" onclick="location.href='/'" />

    <div id="order-form">
      <form method="POST" action="/api/laundry/26/reviews">
        <div class="form-floating1">
          <!-- <input type="text" class="form-control" id="signupid" name="title" placeholder="* 제목">
            <label for="floatingInput"></label> -->
          <input
            type="text"
            class="form-control"
            id="signupname"
            name="grade"
            placeholder="* 별점"
          />
          <label for="floatingInput"></label>
        </div>

        <div class="form-floating2">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="comment"
            rows="5"
            placeholder="* 리뷰"
          ></textarea>
          <label for="floatingInput"></label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          리뷰 작성
        </button>
        <button
          type="button"
          id="back-usermypage"
          class="w-100 btn btn-lg btn-secondary"
          onclick="location.href='/usermypage'"
        >
          마이페이지
        </button>
      </form>
    </div>
    <p class="mt-5 mb-3 text-muted" id="heeheelaundry">&copy;희희세탁</p>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
</html>
