<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>마이페이지</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/album/"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      #user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 15px;
      }

      #user-name {
        font-size: 400%;
      }

      #header-title {
        color: black;
      }
    </style>
    <script>
      $(document).ready(function () {
        userInfo();
        getReviews();
      });

      function logoutUser() {
        $.ajax({
          method: "POST",
          url: "/api/user/logout",
          data: {},
          success: function (response) {
            alert("로그아웃 완료!");
            location.href = "/login";
          },
          error: function (error) {
            alert("로그아웃에 실패하였습니다.");
          },
        });
      }

      function userInfo() {
        $.ajax({
          type: "GET",
          url: "/api/user/me",
          data: {},
          success: function (response) {
            let data = response.info;
            let money = data["money"];
            let email = data["email"];
            let temp_html = `<div class="lead text-muted">POINT: ${money}</div>
                            <div class="lead text-muted">Email: ${email}</div>`;
            $("#user-info").append(temp_html);
          },
        });
      }

      function getReviews(id) {
        $.ajax({
          type: "GET",
          url: "/api/laundry/1/reviews",
          data: {},
          success: function (response) {
            let rows = response.data;
            for (let i = 0; i < rows.length; i++) {
              let id = rows[i]["id"];
              let grade = rows[i]["grade"];
              let comment = rows[i]["comment"];
              let createdAt = rows[i]["createdAt"];

              let temp_html = `<div class="col">
                                        <div class="card" style="width: 26rem">
                                          <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <h6 class="card-subtitle mb-2 text-muted">${grade}</h6>
                                            <p class="card-text">${comment}</p>
                                            <button
                                              type="button"
                                              class="btn btn-sm btn-outline-secondary"
                                            >
                                              수정
                                            </button>
                                            <button
                                              type="button"
                                              class="btn btn-sm btn-outline-secondary"
                                            onclick="deleteReviews(${id})">
                                              삭제
                                            </button>
                                            <small class="text-muted">${createdAt}</small>
                                          </div>
                                        </div>
                                      </div>`;
              $("#card-box").append(temp_html);
            }
          },
          error: function (error) {
            alert("목록 불러오기에 실패하였습니다.");
          },
        });
      }

      function deleteReviews(id) {
        $.ajax({
          type: "delete",
          url: `/api/laundry/reviews/${id}`,
          data: {},
          success: function (response) {
            alert("리뷰 삭제 완료!");
            window.location.reload();
          },
          error: function (error) {
            alert("리뷰 삭제 실패하였습니다.");
          },
        });
      }
    </script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="navbar navbar-dark bg-light shadow-sm">
        <div class="container">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong id="header-title">희희세탁</strong>
          </a>
          <button class="btn btn-primary" type="submit" onclick="logoutUser()">
            로그아웃
          </button>
        </div>
      </div>
    </header>
    <!-- 헤더 -->

    <!-- 메인 -->
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 id="user-name" class="fw-light">고객님, 깨끗한 하루 되세요!</h1>
            <!--신청자 -->

            <div id="user-info"></div>

            <p>
              <a
                class="btn btn-primary btn-lg my-2"
                onclick="location.href='/postlaundry'"
                >세탁 신청하러 가기</a
              >
              <a
                class="btn btn-secondary btn-lg my-2"
                onclick="location.href='/mypage'"
                >마이페이지</a
              >
            </p>
          </div>
        </div>
      </section>

      <!-- 목록구역 -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
            id="card-box"
          >
            <!-- -------------------------------- -->
          </div>
        </div>
      </div>
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
