<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <body>
      <h1>손님 마이 페이지</h1>
      <button><a href="api/laundries">세탁물 신청하기</a></button>
      <button>
        <a href="api/laundries/<%=userid%>">세탁물 상태 확인하기</a>
      </button>
    </body>
  </head>
</html>
